body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.my-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
}

.inputs {
  text-align: center;
}

.inputs input {
  padding: 20px;
  color: #000;
  font-size: 1rem;
  border: 1px solid grey;
  outline-style: none;
}

.my-form button,
.restart {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
}

.gameDetails {
  display: none;
  font-size: 25px;
}

.board {
  width: 100vw;
  /* height: 40vh; */
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 120px;
  height: 120px;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.winning-message {
  margin-top: 40px;
  text-align: center;
}
